$borderColor: #ccc;
$white_color:#fff;
$spinner_background: #a9a9a9;
$spinner_border: #f1f1f1;
$spinner_top_color: #2196f3;
$header_bg: #555;
$card_hove: #2196f336;
$active_header_nav: #2196f3;
$table_border: #dddddd;